body{
	background: pink;
}

#resultsBox{
	text-align: center;
	font-family: sans-serif;
}

#calcBox {
	/* Font */
	color: white;
	font-family: sans-serif;
	/* Shape */
	width: 300px;
	/* height: 170px; */
	background-color: gray;
	margin: 0 auto;
	padding: 15px;
	/* Border */
	border-style: solid;
	border-radius: 10px;
	border-color: white;
	border-width: 3px;
}

#calcBox form{
	margin: 0 auto;
	width: 292px;
}

#calcBox form div{
	padding-left: 68px;
	margin-top: 14px;
}

.textInput{
	width: 43%
}

.radioInput{
	margin-left: 6em;
}
