/* Get that body out of here */
body{
	margin: 0;
}


header{
	width: 100%;
	height: 40px;
	position: absolute;
	background: pink;
	color: white;
	font-weight: 400;
}

header h1{
	float: left;
	font: 12pt sans-serif;
	padding-left: 1em;
}

header form{
	margin: 7px 2em;
	float: right;
}
